.content-grid {
    display: grid;
    margin: 0 250px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0;
}

.grid-section {
    background-color: #f8f9fa;
    padding: 1.5rem;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.grid-section:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.grid-section h2 {
    margin-bottom: 1rem;
    color: rgb(90, 90, 90);
    padding: 10px;
    border-radius: 4px;
}

.grid-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* 전체 ul을 중앙 정렬 */
    justify-content: center;
}

.grid-section li {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
    width: 100%; /* 전체 가로 크기 */
    justify-content: flex-start; /* 이미지와 텍스트가 왼쪽에서 시작되도록 설정 */
    gap: 15px; /* 이미지와 텍스트 간 간격 */
}

.grid-section .contact-info li {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
    width: 100%; /* 전체 가로 크기 */
    justify-content: flex-start; /* 이미지와 텍스트가 왼쪽에서 시작되도록 설정 */
    gap: 15px; /* 이미지와 텍스트 간 간격 */
    margin-left: 8em;
}

.grid-section .contact-info{
    margin-top: 5em;
}

.grid-section li img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.grid-section li div {
    font-size: 16px;
}

.grid-section li b {
    font-weight: bold;
}
