.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 5.5em;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    gap: 3em;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
    height: 85vh;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner .content {
    flex: 1 1 45%;
    max-width: 45%;
    animation: slideInLeft 1s ease-out forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.banner .content h1 {
    font-size: 4.5em;
    margin-bottom: 0.1em;
    color: #1e1e1e;
}

.banner .content p {
    font-size: 2em;
    color: #444;
    margin-bottom: 1.5em;
    line-height: 1.6;
    overflow: hidden; /* 텍스트가 넘치지 않게 숨기기 */
    white-space: nowrap; /* 한 줄로 텍스트 표시 */
    width: 0; /* 초기 너비는 0으로 설정 */
    animation: typing 5s steps(30) infinite, blinkCaret 0.75s step-end infinite;
}

/* 타이핑 효과 */
@keyframes typing {
    to {
        width: 100%; /* 너비를 100%로 늘려서 텍스트가 보이게 함 */
    }
}

/* 커서 깜박임 효과 */
@keyframes blinkCaret {
    50% {
        border-color: transparent; /* 커서 깜박임 */
    }
}


.banner .actions .button {
    background-color: #f25555;
    color: white;
    padding: 1em 2.2em;
    font-size: 1.5em;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.banner .actions .button:hover {
    background-color: #e04444;
}

.banner .image {
    flex: 1 1 50%;
    max-width: 100%;
    animation: slideInRight 1.2s ease-out forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.banner .image img {
    max-width: 100%;
    height: auto;
    transform: scale(1.2);
}
